
*{
    margin:0;
    outline:none;
    padding:0;
}

body{
    width:100vw;
    height: 100vh;
}
a{
    cursor: pointer;
    text-decoration: none;
}
/* width */
::-webkit-scrollbar {
    width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
    background: rgba(0,0,0,0);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
#bg-image{
    position: fixed;
    z-index: -1;
    width:60%;
    bottom:0;
    right:0;
}

#navigation{
    width:100%;
    background-color: white;
}
.navbar-a {
    font-size: 16px;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    width:80%;
    margin: 0 auto;
}
.navbar-a h2{
    font-weight: 200;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-family: 'Rajdhani', sans-serif;
    padding: 5px;
    width: 10%;
    border: 2px solid black;
    margin: 0 auto;
}
#navigation-box{
    width:100%;
    margin: 0 auto;
    text-align: center;
}

#navigation-box a{
    color: black;
    background-color: white;
    margin: 0 5px;
    font-size: 13px;
    display: inline-block;
}

#navigation-box a h3{
    padding: 3px;
    background-color: white;
    margin: 10px auto;
    font-family: 'Rajdhani', sans-serif;
    font-weight: 300;
}
#god-class:hover{
    border-top:2px solid #ed1835;
}
#duplicated-code:hover{
    border-bottom:2px solid #efe619;
}
#message-chaining:hover{
    border-bottom:2px solid #f6710f;
}
#feature-envy:hover{
    border-bottom:2px solid #01bc7d;
}
#unused-code:hover{
    border-bottom:2px solid #3ad6d4;
}
#over-nesting:hover{
    border-bottom:2px solid #3645a9;
}
#unnamed-literals:hover{
    border-bottom:2px solid #c459cf;
}
#primitive-obsession:hover{
    border-bottom:2px solid #c459cf;
}

.menu-item::after{
    background: white;
}


#main-content{
    width:100%;
}

.item-box{
    width:100%;
    position: relative;
    text-transform: uppercase;
    display: inline-grid;
    grid-template-columns: 1fr;
    margin: 20px 0;
}

.title-box{
    position: relative;
    border-radius: 5px 5px 0 0 ;
    background-color: #0868a6;
}
.title-box h2{
    padding: 5px 10px;
    font-family: 'Rajdhani', sans-serif;
    z-index: 4;
    font-weight: 300;
    color: white;
}

.content{
    width: 60%;
    background-color: #f6f6f6;
    border-radius: 5px;
    display: grid;
    margin: 20px auto;
    font-family: 'Rajdhani', sans-serif;
}
#overview-display{
    display: inline-grid;
    height:70%;
    grid-template-columns: 40% 60%;
}
#godclass-display, #unusedM-display, #unusedV-display, #PO-display{
    display: inline-grid;
    height:70%;
    grid-template-columns: 60% 40%;
}
#unused-method-table{
    width:90%;
    padding:10px;
    background-color: #1a4886;
}
#general-smells-found,#god-class-found, #PO-class-found{
    width:90%;
    margin: 0 auto;
}
.general-smell-title{
    font-size: 15px;
    color:black;
}
.overview-smell{
    margin: 5px auto;
    background-color: white;
    padding: 5px;
    border-radius: 5px;
}

.god-info{
    margin: 5px auto;
    background-color: white;
    padding: 5px;
    border-radius: 5px;
}

.inline-b{
    display: inline-block;
}
.overview-circle-colour{
    width:25px;
    height:25px;
    border-radius: 50px;
}
.overview-circle-colour:nth-child(1){
    background-color: red;
}
.overview-circle-colour:nth-child(2){
    background-color: green;
}
.overview-circle-colour:nth-child(3){
    background-color: blue;
}
.overview-circle-colour:nth-child(4){
    background-color: yellow;
}
.overview-circle-colour:nth-child(5){
    background-color: deeppink;
}
.overview-circle-colour:nth-child(6){
    background-color: purple;
}
.overview-circle-colour:nth-child(7){
    background-color: orange;
}
.overview-circle-colour:nth-child(8){
    background-color: black;
}

#overview-table, #god-class-table{
    max-height: 200px;
    display: flex;
    overflow-y: scroll;
    flex-flow: wrap;
    flex-wrap: wrap;
    grid-gap: 5px;
    flex-flow: wrap;
    background-color: #0868a6;
    color: white;
}

.overview-table-data{
    width: auto;
    margin: 2px auto;
    color: black;
    text-align: center;
    font-size: 15px;
    padding: 5px 10px;
    border-radius: 3px;
    float: left;
    background-color: #fff;

}
.files-found{
    padding: 10px;
    width: 100%;
    border-radius: 0 0 5px 5px;
    background-color: #f7f7f7;
}
.files-found h2{
    font-size: 25px;
    color: darkgrey;
    font-family: 'Rajdhani', sans-serif;
    font-weight: 300;
    border-bottom: 1px solid #e9e9e9;
}
.text-box-layout{
    width:100%;
    margin: 10px 0;
    display: grid;
    grid-gap: 5px;
    grid-template-rows: repeat(5,1fr);
}

#barchart-box,#barchart-box-v, #barchart_values, #barchart_values-v, #barchart-box-PO, #barchart_values-PO{
    width:100%;
    height:100%;
    min-height: 450px;
}
.unusedM-info{
    width:90%;
    border:5px solid #4286f4;
    padding:10px;
}

.box-info{
    background-color: #f2f2f2;
    border: 1px solid #8080802b;
    border-radius: 3px;
    width:80%;
    margin:5px auto;
    padding: 5px;
    box-shadow: 0 0 11px -6px #3f3f3f;
}

.text-info{
    text-align: center;
    color:white;
    font-size: 1.1em;
    line-height: 25px;
}

.text-info h3{
    font-family: 'Rajdhani', sans-serif;
    font-size: 1em;
}

.text-info:nth-child(1){
    background-color: #f9b084;
}

.text-info:nth-child(2){
    background-color:#f4c78e;
}

.text-info:nth-child(3){
    background-color:#a14ea0;
}

.text-info:nth-child(4){
    background-color:#4a2f80;
}

.text-info:nth-child(5){
    background-color:#2a77bb;
}

.area-pie-display{
    width:100%;
    grid-gap:5px;
}

.area-chart{
    width:95%;
    margin: 0 auto;
    height:100%;
    min-height:400px;
}

.area-chart div{
    width:100%;
    min-height:400px;
    height:100%;
}
.pie-chart{
    width:30%;
    height:300px;
    display: grid;
    grid-template-rows: 10fr 1fr;
    background-color: white;
}

.pie-chart canvas{
    width:100%;
    margin: auto 0;
}


.piechart-toggle-data{
    width:100%;
    text-align: center;
}

.piechart-toggle-data h3{
    padding: 3px;
    font-size: 1em;
    font-weight:300;
    text-align: center;
}

.piechart-toggle-data button{
    width:40%;
    margin: 10px auto;
    padding: 5px;
    border:none;
    font-family: 'Rajdhani', sans-serif;
    background: linear-gradient(45deg,#ad5ca4,#2982c6);
    border-radius: 50px;
    text-align: center;
    cursor:pointer;
    color:white;
}









